html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: cornflowerblue;
}

footer {
    background: darkslategray;
    color: whitesmoke;
}

ul {
    width: 15%;
    margin: auto;
}