<ul>
        <% cryptids.forEach(function(cryptid, id) { %>
            <li>
                <a href="/cryptids/<%= id %>"><%= cryptid.name %></a> is a <%= cryptid.type %>
                <form method="POST" action="/cryptids/<%= id %>/?_method=DELETE">
                    <input type="submit" value="X">
                </form>
            </li>
        <% }); %>
    </ul>

