<h2>Add a new cryptid</h2>
<form method="POST" action="/cryptids">
    <label for="name">NAME:</label>
    <input type="text" id="name" name="name">
    
    <label for="type">TYPE:</label>
    <input type="text" id="type" name="type">

    <input type="submit" value="add cryptid here">
</form>